@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-image: url(img/gifbackground.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Press Start 2P';
}

.textos{
    color: white;
}

#atividade{
    font-size: 100px;
    text-align: center;
    text-shadow: 0px 0px 15px rgb(4, 0, 255);
    
}
#prova{
    font-size: 40px;
    margin-top: -50px;
    text-align: center;
    color: #c0c6ff
}
.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    padding: 40px;
    gap: 40px;
}
.botoes a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: transform 0.3s;
}
.botoes a:hover{
    transform:translateY(-10px);
    text-shadow: 0px 0px 15px #c0c6ff;
}